# Compiled Python files
__pycache__/
*.pyc
*.pyo
*.pyd

# Distribution and build folders
dist/
build/
*.egg-info/
.eggs/

# Executables created by pyinstaller or similar tools
*.exe
*.spec
*.toc
*.log
*.html # If your compiler generates HTML reports like warn-main.html
*.zip # If your compiler creates a zip