<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Rating</title>
  </head>
  <body>
    <form action="{{url_for('edit_rating', book_id=book.id)}}" method="POST">
      <p>Book name : {{book.title}}</p>
      <p>Current Rating : {{book.rating}}</p>
      <input placeholder="New Rating" name="new_rating" type="text" />
      <button type="submit">Change Rating</button>
    </form>
  </body>
</html>
